version: "3.8"
services:
  backend:
    build: .
    container_name: farmassist_backend
    ports:
      - "8000:8000"
    volumes:
      - ./:/app
      - ./uploads:/tmp/uploads
    env_file:
      - .env
    depends_on:
      - postgres

  postgres:
    image: postgres:15
    container_name: farmassist_postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: farmdb
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
